Repository TemanWisata/teman-wisata: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy, lint-staged

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ["--maxkb", "512000"]
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-toml
      - id: debug-statements
      - id: detect-private-key
      - id: no-commit-to-branch
        args: ["--branch", "main"]

  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: ruff check .
        language: python
        additional_dependencies: [ruff]
        types: [python]
        files: \.py$
      - id: ruff-format
        name: ruff format
        entry: ruff format .
        language: python
        additional_dependencies: [ruff]
        types: [python]
        pass_filenames: false
      - id: mypy
        name: mypy
        entry: mypy app
        language: system
        types: [python]
        pass_filenames: false

      - id: lint-staged
        name: lint-staged
        entry: sh -c 'cd ui && npx lint-staged && cd ..'
        language: node
        files: ^ui/
        pass_filenames: false
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ["--exclude-files", "supabase/config.toml"]
        types: [python]
        pass_filenames: false

  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.6
    hooks:
      - id: bandit
        args: ["-r", "./app/"]
        pass_filenames: false
        types: [python]
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.8.3
    hooks:
      - id: commitizen
        stages: [commit-msg]

chore: update build workflow, Dockerfile, deploy manifest, and add rand-secret.yaml
  .github/workflows/build_image.yaml
  deployment/docker/Dockerfile
  k3s-manifest/app-deploy/deploy.yaml
  k3s-manifest/app-deploy/rand-secret.yaml
Due: none

chore: update tes-koneksi wokflow
  .github/workflows/tes-koneksi.yaml
Due: none

chore: update lockfile
  uv.lock
Due: none

chore: add REDIS_URL to example environment file
  .example.env
Due: none

chore: add redis and async-timeout dependencies to project
  pyproject.toml
  uv.lock
Due: none

chore: add Redis configuration settings to the application
  app/core/config.py
Due: ruff, ruff-format, mypy

feat: implement Redis client and update dependency injection
  app/infrastructure/__init__.py
  app/infrastructure/di.py
  app/infrastructure/redis_client.py
Due: ruff, ruff-format, mypy

feat: integrate Redis client initialization and health check
  app/main.py
Due: ruff, ruff-format, mypy

feat: enhance Supabase client setup with connection validation and error handling
  app/infrastructure/supabase_client.py
Due: ruff, ruff-format, mypy

0.8.0
  docs/changelog/CHANGELOG.md
  pyproject.toml
Due: none

feat: implement mlflow recommender wrapper
  .example.env
  app/api/v1/__init__.py
  app/api/v1/recommender.py
  app/core/config.py
  app/infrastructure/__init__.py
  app/infrastructure/mlflow_rectools.py
  app/main.py
  app/place/service.py
  app/recommender/service.py
  pyproject.toml
  uv.lock
Due: ruff, ruff-format, mypy

feat: enhance recommender API with user ratings retrieval and caching
  app/api/v1/recommender.py
  app/place/__init__.py
  app/place/schema.py
  app/place/service.py
  app/recommender/schema.py
  ui/src/services/auth/tw-me.ts
  ui/src/services/auth/tw-register.ts
  ui/src/services/place/tw-place.ts
  ui/src/services/place/tw-places.ts
Due: ruff, ruff-format, mypy, lint-staged

0.9.0
  docs/changelog/CHANGELOG.md
  pyproject.toml
Due: none

feat: implement user recommendations feature with fetching and display logic
  app/api/v1/recommender.py
  ui/recommender.html
  ui/src/components/place-card-recommendation.hbs
  ui/src/main.ts
  ui/src/script/index.ts
  ui/src/script/recommendation/userRecommendation.ts
  ui/src/services/index.ts
  ui/src/services/recommendation/tw-recommendation.ts
  ui/src/templates/user-recommendation.hbs
Due: ruff, ruff-format, mypy, lint-staged

feat: implement user signup functionality with form validation and error handling
  ui/places.html
  ui/src/components/hero.hbs
  ui/src/components/modal-login.hbs
  ui/src/components/model-signup.hbs
  ui/src/main.ts
  ui/src/script/auth/signUp.ts
  ui/src/script/index.ts
  ui/src/services/place/tw-place.ts
  ui/src/services/place/tw-places.ts
  ui/src/services/place/tw-rating.ts
  ui/src/services/place/tw-top-place-province.ts
  ui/src/services/place/tw-top-places.ts
  ui/src/services/recommendation/tw-recommendation.ts
  ui/src/templates/user-recommendation.hbs
Due: lint-staged

feat: implement logout function
  ui/component/base.hbs
  ui/component/login-navbar.hbs
  ui/recommender.html
  ui/src/components/navbar-login.hbs
Due: lint-staged

0.10.0
  docs/changelog/CHANGELOG.md
  pyproject.toml
Due: none

refactor: rename Place interface to aPlace for consistency in user recommendations
  ui/src/script/recommendation/userRecommendation.ts
  ui/src/services/recommendation/tw-recommendation.ts
Due: lint-staged

0.11.0
  docs/changelog/CHANGELOG.md
  pyproject.toml
Due: none
